{% extends 'base.html' %}
{% block titulo %} 
<h1>Ayuda del sitio</h1>
{% endblock %}
{% block contenido %} 
<p>El índice de desarrollo humano (IDH) es un indicador, elaborado por el Programa de las Naciones Unidas para el Desarrollo (PNUD), que se utiliza para clasificar a los países en tres niveles de desarrollo humano. El índice está compuesto por la esperanza de vida, la educación (tasa de alfabetización, tasa bruta de matriculación en diferentes niveles y asistencia neta) e indicadores de ingreso per cápita. Un país obtiene un IDH más alto cuando la esperanza de vida es mayor, el nivel de educación es mayor y el ingreso nacional bruto INB (PPA) per cápita es mayor. Fue desarrollado por el economista paquistaní Mahbub ul Haq​ </p>
{% endblock %}