<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<title>Human Development Index</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
</head>
<body>
<nav>
    <a href="{{ url_for('index') }}">inicio</a>

    <a href="{{ url_for('lista_top10') }}">listado</a>
    <a href="{{ url_for('devuelve_cantidad') }}">cantidad de países</a>
    <a href="{{ url_for('devuelve_cantidad_alta') }}">cantidad con HDI alto</a>
    <a href="{{ url_for('dar_ayuda') }}">ayuda</a>
</nav>
<header>
{%  block titulo %} {% endblock %}
</header>
<main>
    {%  block contenido %}{%  endblock %}
</main>
<footer>
    <div class="social">
        <a href="#"><i class="icon ion-social-instagram"></i></a>
        <a href="#"><i class="icon ion-social-snapchat"></i></a>
        <a href="#"><i class="icon ion-social-twitter"></i></a>
        <a href="#"><i class="icon ion-social-facebook"></i></a>
    </div>
    <p class="copyright">Company Name © 2018</p>
</footer>

</body>
</html>

